<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KTBlendModeProperty</key>
	<integer>0</integer>
	<key>KTCustomSizeHeight</key>
	<integer>512</integer>
	<key>KTCustomSizeUnits</key>
	<string>Pixels</string>
	<key>KTCustomSizeWidth</key>
	<integer>512</integer>
	<key>KTDefaultShapeTool</key>
	<integer>0</integer>
	<key>KTDropboxFormatDefault</key>
	<string>SVG</string>
	<key>KTEmailFormatDefault</key>
	<string>PNG</string>
	<key>KTEraserToolSize</key>
	<integer>20</integer>
	<key>KTFillModeProperty</key>
	<integer>1</integer>
	<key>KTFontNameProperty</key>
	<string>Helvetica</string>
	<key>KTFontSizeProperty</key>
	<integer>24</integer>
	<key>KTGridSpacing</key>
	<integer>36</integer>
	<key>KTOpacityProperty</key>
	<integer>1</integer>
	<key>KTPageOrientation</key>
	<string>Portrait</string>
	<key>KTPageSize</key>
	<string>Letter</string>
	<key>KTShadowAngleProperty</key>
	<real>1.5708</real>
	<key>KTShadowOffsetProperty</key>
	<integer>10</integer>
	<key>KTShadowRadiusProperty</key>
	<integer>10</integer>
	<key>KTShadowVisibleProperty</key>
	<false/>
	<key>KTShapeToolPolygonSideCount</key>
	<integer>5</integer>
	<key>KTShapeToolRectCornerRadius</key>
	<integer>0</integer>
	<key>KTShapeToolStarInnerRadiusRatio</key>
	<real>0.5</real>
	<key>KTShapeToolStarPointCount</key>
	<integer>5</integer>
	<key>KTShapeToolSpiralDecay</key>
	<string>80</string>
	<key>KTShowGrid</key>
	<false/>
	<key>KTSnapToEdge</key>
	<false/>
	<key>KTSnapToGrid</key>
	<false/>
	<key>KTSnapToPoint</key>
	<false/>
	<key>KTDynamicGuides</key>
	<false/>
	<key>KTStrokeCapProperty</key>
	<integer>0</integer>
	<key>KTStrokeJoinProperty</key>
	<integer>1</integer>
	<key>KTStrokeVisibleProperty</key>
	<true/>
	<key>KTStrokeWidthProperty</key>
	<integer>1</integer>
	<key>KTStartArrowProperty</key>
	<string></string>
	<key>KTEndArrowProperty</key>
	<string></string>
	<key>KTSwatchPanelModeKey</key>
	<integer>2</integer>
	<key>KTTextAlignmentProperty</key>
	<integer>0</integer>
	<key>KTUnits</key>
	<string>Inches</string>
</dict>
</plist>
